
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.nav{
  height: 50px;
  background: #333;
}

.btn{
  color:aliceblue !important;
  box-shadow: none !important;
  background: #555;
  transition: .5s;

}
.btn:hover{
  color:aliceblue !important;
  color: red;
  background: #666;
  font-weight: 600;
  transition: .25s;
}
.btn:active{
  color:aliceblue !important;
  color: red;
  background: #777;
}